
/* logen baslangıcı */
html{
    background-color: #f9fafb;
    font-family: Inter;
}


.mehmet {
    display: flex;
    align-items: center;
    
    gap: 13rem;
    justify-content: center;
    height: 100vh;
   
    width: 1100px;

}

.mehmet .auth-img {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}

.colum-duzenleme {
    display: flex;
    flex-direction: column;

}

 .text{
    background-color: red ;
}

.gap-boslugu .fa-brand {
    gap: 0.75rem;
}

.form-baslangici {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.form-baslangici h2 {
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 500;
    color: rgb(31 41 55 / var(--tw-text-opacity));
    margin: 0;
    padding-left: 1rem;
}

.form-baslangici .fa-brand {
    gap: 0.75;
    flex-direction: column;
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;




}


.fa-brand .gogle-btons {
    border-radius: .375rem;
    gap: .875rem;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    outline-style: solid;
    outline-width: 1px;
    outline-color: #d1d5db;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
}

.fa-brand .apple-btons {
    border-radius: .375rem;
    gap: .875rem;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    outline-style: solid;
    outline-width: 1px;
    outline-color: #d1d5db;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
}

.fa-brand .facebook-btons {
    border-radius: .375rem;
    gap: .875rem;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    outline-style: solid;
    outline-width: 1px;
    outline-color: #d1d5db;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
}


.h-px-span {
    align-items: center;
    display: flex;
}

.ekran .text {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1.5rem;
}

/* .text label{
margin-top: ;
} */


.text .h {

    padding-left: 6px;
    background-color: #f3f4f6;
    border-color: #d1d5db;
    border-width: 1px;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border: 1px solid #ccc;

}

.ekran .text{


    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;


}
.ekran .main-btn {
    border-radius: .375rem;
    width: 100%;
    margin-top: .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    background-color: #3b82f6;
    color: #ffffff;
    padding: .75rem 1.25rem;
    cursor: pointer;
    background-image: none;
    text-transform: none;
    font-family: inherit;
    border: none;



}

.ekran .main-btn:hover {
    filter: brightness(85%)
}

.ayirici .h-px {
    background-color: #e5e7eb;
    height: 1px;
    width: 100%;

}

.ayirici {
    display: flex;
    align-items: center;
}

.ayirici span {
    color: #9ca3af;
    font-weight: 400;
    font-size: 13px;
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
}



.Donation-center {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: #6b7280;
    margin: 0;
    margin-top: 1rem;
}

.Donation-center span {
    color: #3b82f6
}


.Donation-center .my-4 {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}



.colum-duzenleme .description {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: #6b7280;
    margin: 0;
}
input:focus{
    /* border: 0px !important; */
    outline: 0;
}

.colum-duzenleme .description a {
    color: #3b82f6;
    text-decoration: none;
    
}


/* logen bitişi */