 /*! responsive start */



 @media(max-width: 991px) {

     .header .navigation {
         display: none;
     }

     .header {
         max-width: 991px;
     }


     .ahmet {
         justify-content: space-between !important;
         width: 100%;
     }

     .container {
         width: 700px !important;
     }


     .header .svg {
         display: none;
     }

     .header .header-account {
         display: none;
     }

     .header .header-input {
         display: none;
     }
 }

 @media(max-width: 768px) {

     .container {
         width: 600px !important;
     }




     .container .donate-card {
         flex-direction: column-reverse;
         padding: 1rem;
     }

     .donate-card div {
         width: 100% !important;
     }





 }



 @media(max-width: 576px) {

     .container {
         width: 400px !important;
     }












 }




 /* 
@media(min-width:768px) {
.mehmet{
    height: 100vh;
}
} */

 @media (max-width: 1171px) {
     .mehmet {
         width: 992px !important;
     }
  

 }

 @media (max-width: 1050px) {
     .mehmet {
         width: 900px !important;
         gap: 8rem !important;
     }
 }

 @media (max-width: 920px) {
     .mehmet {
         width: 768px !important;
         gap: 3rem !important;
     }

     @media (max-width: 800px) {
         .auth-img {
             display: none !important;
         }


         .colum-duzenleme {
             width: 350px !important;
         }

         .form-baslangici .logo{
            display:inline-block !important;
         }

         /* a {
             background: url(../images/logo.b86164f1.svg);
             margin-bottom: 2rem;
             margin-top: 2rem;
             color: inherit;
             text-decoration: inherit;
             display: inline-block;

         } */
     }

     @media (max-width: 700px) {
         .mehmet {
             width: 600px !important;
         }
     }

 }


 /*! responsive  end */