@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("./reset.css");
@import url("./responsive.css");
@import url("./auth-login.css");

:root {
    --main-color: #3b82f6;
    --green-color: #16a34a;
    --orange-color: #ea580c;
    --purple-color: #9333ea;
}

body {
    font-family: "Inter", sans-serif;
}


.container {
    width: 1312px;
    margin: 0 auto;

}

.ahmet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header {
    box-shadow: 0 4px 15px #52809a0d;
    width: 100%;
    height: 88px;
}

.header div {
    height: 100%;
}

.header svg {
    height: 100%;
    cursor: pointer;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-account {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    justify-content: center;
}

.container .header-items {
    color: #4b5563;
}


.navigation ul {
    display: flex;
    gap: 1.5rem;
    color: #4b5563;

}

.navigation-list a {
    color: #4b5563;
    text-decoration: none;
}

.header div input {

    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 360px;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
}

.btn {
    border-radius: 0.375rem;
    color: white;
    padding: .620rem;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #d1d5db;
    min-width: 160px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
}

.btn:hover {
    /* opacity: 0.5; */

    filter: brightness(85%);
}

.active-btn {
    background-color: white;
    color: #374151;

}

.main-btn {
    background-color: var(--main-color);

}

.green-btn {
    background-color: var(--green-color);

}


.orange-btn {
    background-color: var(--orange-color);

}

.purple-btn {
    background-color: var(--purple-color);

}

/* .donate-wrapper-image .bg-collect-donat{
    height: 390px;
    width: 100%;
    background-position: center;
} */
.donate-wrapper-image {
    background: url("../images/collect-donate.a8e883c5.png");
    width: 100%;
    height: 390px;
}

.donate-wrapper-image.duvar {
    background: url(../images/donate.848f843e.png);
    height: 390px;
    width: 100%;
    background-position: center;



}

.donate-wrapper-image div {
    height: 100%;
}


.donate-wrapper-content {
    display: flex;
    color: white;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    /* background-color: red; */
}

.donate-wrapper-content h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;

}

.donate-wrapper-content p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
}

.container-auto {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
}

.donate-card {
    border: 1px solid #e5e7eb;
    padding: 2rem;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-radius: 0.5rem;


}

.container .donate-card:first-child {
    margin-top: 1rem;


}

.donate-card div {
    width: 50%;
}

.donate-card div.donate-card-content {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;

}

.donate-card h3 {
    color: #6b7280;
    text-transform: uppercase;
    font-size: .875rem;
}

.donate-card h2 {
    font-size: 2.25rem;
    color: #111827;
    line-height: 2.5rem;
    font-weight: 600;


}

.donate-card p {
    color: #4b5563;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin: 0;
}

.donate-card img {
    height: 200px;
    width: auto;
    object-fit: cover;
}




/* logen baslang覺c覺 */
html {
    background-color: #f9fafb;
    font-family: Inter;
}


.mehmet {
    display: flex;
    align-items: center;
    gap: 13rem;
    justify-content: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;

}

.mehmet .auth-img {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}

.colum-duzenleme {
    display: flex;
    flex-direction: column;

}

.gap-boslugu .fa-brand {
    gap: 0.75rem;
}

.form-baslangici {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.form-baslangici .logo {
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: inherit;
    text-decoration: inherit;
    display: inline-block;
    display: none;
}


.form-baslangici h2 {
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 500;
    color: rgb(31 41 55 / var(--tw-text-opacity));
    margin: 0;
    padding-left: 1rem;
}

.form-baslangici .fa-brand {
    gap: 0.75;
    flex-direction: column;
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;




}


.fa-brand .gogle-btons {
    border-radius: .375rem;
    gap: .875rem;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    outline-style: solid;
    outline-width: 1px;
    outline-color: #d1d5db;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
}

.fa-brand .apple-btons {
    border-radius: .375rem;
    gap: .875rem;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    outline-style: solid;
    outline-width: 1px;
    outline-color: #d1d5db;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
}

.fa-brand .facebook-btons {
    border-radius: .375rem;
    gap: .875rem;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    outline-style: solid;
    outline-width: 1px;
    outline-color: #d1d5db;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
}


.h-px-span {
    align-items: center;
    display: flex;
}

.ekran .text {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1.5rem;
}

.text label {
    margin-top: 2rem;
}

.toggle-btn {}

.text .h {

    padding-left: 6px;
    background-color: #f3f4f6;
    border-color: #d1d5db;
    border-width: 1px;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border: 1px solid #ccc;

}


.ekrans .ekran .text {


    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;


}

.ekran .main-btn {
    border-radius: .375rem;
    width: 100%;
    margin-top: .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    background-color: #3b82f6;
    color: #ffffff;
    padding: .75rem 1.25rem;
    cursor: pointer;
    background-image: none;
    text-transform: none;
    font-family: inherit;
    border: none;



}

.ekran .main-btn:hover {
    filter: brightness(85%)
}

.ayirici .h-px {
    background-color: #e5e7eb;
    height: 1px;
    width: 100%;

}

.ayirici {
    display: flex;
    align-items: center;
}

.ayirici span {
    color: #9ca3af;
    font-weight: 400;
    font-size: 13px;
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
}



.Donation-center {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: #6b7280;
    margin: 0;
    margin-top: 1rem;
}

.Donation-center span {
    color: #3b82f6
}


.Donation-center .my-4 {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}



.colum-duzenleme .description {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: #6b7280;
    margin: 0;
}

input:focus {
    /* border: 0px !important; */
    outline: 0;
}

.colum-duzenleme .description a {
    color: #3b82f6;
    text-decoration: none;

}


.header .click {
    width: 200px;
    height: 150px;
    border-radius: 0 0 0.375rem 0.375rem;


}

.ahmet {
    position: relative;
}

.click .header-account {
    display: flex;
    flex-direction: column;
}

.click {
    position: absolute;
    top: 88px;
    background-color: #f9fafb;
    right: 0;
    display: none;
}

.alt-ust-bosluk {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.alt-ust-bosluk h3 {
    margin-bottom: .75rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: #9ca3af;
}

.buttonn {
    display: flex;
    gap: 1rem;
    scroll-behavior: smooth;
    margin-top: 1rem;
}

.px-9 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 4px;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    background-color: #3b82f6;
    color: white;
    cursor: pointer;
    border-style: none;
}

.px-5 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: white;
    border-color: #f3f4f6;
    border-width: 1px;
    border-radius: 4px;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: #6b7280;
    cursor: pointer;
    border-style: none;
}

.baslik {
    margin-bottom: 1.5rem;

    margin-top: 2.5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 300;
    color: #111827;
}

.baslik h2 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

.baslik {}

.container .bosluk {
    gap: 1rem;
    display: flex;
    margin-top: 1.5rem;

}

.container select {
    padding: 10px;
    border: none;
    color: #6b7280;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 1.5rem;
    outline: none;


}



.panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;

}

.border-color {
    padding: 1rem;
    background-color: white;
    border-radius: .5rem;
}

.border-color a {
    text-decoration: none;

}

.tablo {
    position: relative;
}

.tablo img {
    object-fit: cover;
    border-radius: .5rem;
    width: 100%;
    display: block;
    vertical-align: middle;

}

.tablo span {
    position: absolute;
    margin-left: .375rem;
    margin-top: -40px;
    border-radius: 4px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: #173155;
    background-color: #0f255480;
    padding: .5rem .75rem;
    --tw-text-opacity: 1;
    color: white;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 600;
}

.mt-1 {
    gap: .75rem;
    flex-direction: column;
    display: flex;
    margin-top: .5rem;



}

.mt-1 h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #374151;
    margin: 0;
}

.mt-2 {
    gap: .5rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.mt-2 h5 {
    margin: 0;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: #6b7280;
    font-size: 88%;
}

.mt-2 small {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    color: #6b7280;
    font-size: 88%;
}


.mt-1 p {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: #6b7280;
    margin: 0;
}

.mt-3 {
    margin-top: 1.25rem;

}

.mt-3 span {
    margin-left: calc(76%);
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 600;
}

.mt-4 {
    position: relative;
    height: .875rem;
    width: 100%;
    border-radius: .5rem;
    background-color: #f3f4f6;
}

.completed-bar {
    position: absolute;
    height: .875rem;
    border-radius: .5rem;
}

.mt-5 {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.mt-5 h5 {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    color: #9ca3af;
    margin: 0;
}

.mt-5 p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #1f2937;
    margin: 0;
}

.border-gray-100 {
    border-color: #f3f4f6;

}


.mt-5 .green p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: #16a34a;
}

.mt-5 .greeen p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: #dc2626;
}

.mt-5 .cizgi {
    border: solid#f3f4f6;
    border-width: .75px;
}

.sayfa-gec {
    justify-content: space-around;
    align-items: center;
    width: 224px;
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.svg-class svg {
    fill: #6b7280;
    display: block;
    vertical-align: middle;
}

.sayilar {
    gap: 1rem;
    justify-content: center;
    display: flex;
}

.sayilar button {
    color: #6b7280;
    text-transform: none;
    border: none;
    background-image: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 100%;
    cursor: pointer;
    background-color: transparent;
    font-weight: inherit;
    line-height: inherit;
    -webkit-appearance: button;
}

.sayilar .ozel-button {
    background-color: white;
    border-color: #2563eb;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    width: 2rem;
    height: 2rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #111827;

}

.container .ayr覺nt覺 {
    margin-top: 2rem;
    margin-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.resim-bolumu {
    gap: 2rem;
    /* grid-template-columns: repeat(8, minmax(0, 1fr));
    display: grid; */
}

.resimm {
    width: 640px;
    height: 360px;
    height: auto;
    display: block;
    position: relative;

}

/* .resimm{
    width: 640px;
    height: 360px;
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
} */
.resimm img {
    width: 100%;
}

.resimm .actions {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    top: 0;
}


.resimm .actions span {
    padding: 0.5rem;
}


.kucuk-resimler {
    width: 640px;

}



.kucuk-resimler {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;

}

.kucuk-resimler div img {
    max-width: 192px;
    border: 1px solid #ccc;
    border-radius: .5rem;

}






.disply{
    display: flex;
}







.kisi-icerik {
    display: flex;
    justify-content: space-between;
}

.kisi-logo {
    display: flex;
    gap: 1rem;
}

.kisi-resim img {
    border-radius: .5rem;
    width: 3.5rem;
    height: 3.5rem;
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}

.yildizli-bolum {
    display: flex;
    flex-direction: column;
    gap: .375rem;
}

.yildizli-bolum-ust {
    display: flex;
    gap: .75rem;
    align-items: center;
}

.yildizli-bolum-ust h5 {
    color: #111827;

    font-weight: 600;
}

.yildizlar {
    display: flex;
}

.yildizlar svg {
    display: block;
    vertical-align: middle;
}

.kisi-resim img {
    width: 3.5rem;
    height: 5rem;
    object-fit: cover;
    max-width: 100%;

}

.kisi-ayrintileri span {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: #6b7280;
}
.paylas-yeri{
    display: flex;
    gap:1.25rem;
    align-items: center;
}
.disply{
    gap: 5rem;
}
.aciklama h2{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin: 0;
    margin-top:.75rem;
}
.aciklama p{
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: #6b7280;
    margin-top: .5rem;
}
.ic-bosluk{
    margin-bottom: 1rem;
    margin-top: 0;
    border-radius: .5rem;
    border-width: 1px;
    border-color: #f3f4f6;
    padding: 1rem;
}
.ic-bosluk span{
    margin-left: calc(76%);
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 600;
}
.alt-bolum-1{
    display: flex;
    gap: .75rem;
}
.alt-bolum svg{
    display: block;
    vertical-align: middle;
    height: 1.25rem;
}
.alt-bolum{
    
        display: flex;
    justify-content: space-between;
}
.toplam-miktar{
    display: flex;
    gap: .75rem;
}
.toplam-miktar h5{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #374151;
}
.toplanan-miktar h5{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #dc2626;
    margin: 0;
}
.toplanan-miktar small{
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    color: #6b7280;
}
.kalan-miktar{
    display: flex;
    gap: .75rem;
}

.kalan-miktar h5{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #16a34a;
}
.gun small{
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    color: #6b7280;
}
