@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("./reset.css");
@import url("./responsive.css");
@import url("./auth-login.css");

:root {
    --main-color: #3b82f6;
    --green-color: #16a34a;
    --orange-color: #ea580c;
    --purple-color: #9333ea;
}

body {
    font-family: "Inter", sans-serif;
}


.container {
    width: 1312px;
    margin: 0 auto;

}

.ahmet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header {
    box-shadow: 0 4px 15px #52809a0d;
    width: 100%;
    height: 88px;
}

.header div {
    height: 100%;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-account {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    justify-content: center;
}


.navigation ul {
    display: flex;
    gap: 1.5rem;

}

.header div input {

    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 360px;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
}

/* .navigation .navigation-list .navigation-item{
    text-align: center;
    border-radius: 375rem;
    gap:1.rem ;
} */
.btn {
    border-radius: 0.375rem;
    color: white;
    padding: .620rem;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #d1d5db;
    min-width: 160px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
}

.btn:hover {
    /* opacity: 0.5; */

    filter: brightness(85%);
}

.active-btn {
    background-color: white;
    color: #374151;

}

.main-btn {
    background-color: var(--main-color);

}

.green-btn {
    background-color: var(--green-color);

}


.orange-btn {
    background-color: var(--orange-color);

}

.purple-btn {
    background-color: var(--purple-color);

}

/* .donate-wrapper-image .bg-collect-donat{
    height: 390px;
    width: 100%;
    background-position: center;
} */
.donate-wrapper-image {
    background: url("../images/collect-donate.a8e883c5.png");
    width: 100%;
    height: 390px;
}

.donate-wrapper-image div {
    height: 100%;
}

.donate-wrapper-content {
    display: flex;
    color: white;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    /* background-color: red; */
}

.donate-wrapper-content h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;

}

.donate-wrapper-content p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
}

.container-auto {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
}

.donate-card {
    border: 1px solid #e5e7eb;
    padding: 2rem;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-radius: 0.5rem;


}

.container .donate-card:first-child {
    margin-top: 1rem;


}

.donate-card div {
    width: 50%;
}

.donate-card div.donate-card-content {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;

}

.donate-card h3 {
    color: #6b7280;
    text-transform: uppercase;
    font-size: .875rem;
}

.donate-card h2 {
    font-size: 2.25rem;
    color: #111827;
    line-height: 2.5rem;
    font-weight: 600;


}

.donate-card p {
    color: #4b5563;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin: 0;
}

.donate-card img {
    height: 200px;
    width: auto;
    object-fit: cover;
}




/* logen baslangıcı */
html{
    background-color: #f9fafb;
    font-family: Inter;
}


.mehmet {
    display: flex;
    align-items: center;
    gap: 13rem;
    justify-content: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;

}

.mehmet .auth-img {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}

.colum-duzenleme {
    display: flex;
    flex-direction: column;

}

.gap-boslugu .fa-brand {
    gap: 0.75rem;
}

.form-baslangici {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.form-baslangici .logo{
        margin-bottom: 2rem;
        margin-top: 2rem;
        color: inherit;
        text-decoration: inherit;
        display: inline-block;
        display: none;
}


.form-baslangici h2 {
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 500;
    color: rgb(31 41 55 / var(--tw-text-opacity));
    margin: 0;
    padding-left: 1rem;
}

.form-baslangici .fa-brand {
    gap: 0.75;
    flex-direction: column;
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;




}


.fa-brand .gogle-btons {
    border-radius: .375rem;
    gap: .875rem;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    outline-style: solid;
    outline-width: 1px;
    outline-color: #d1d5db;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
}

.fa-brand .apple-btons {
    border-radius: .375rem;
    gap: .875rem;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    outline-style: solid;
    outline-width: 1px;
    outline-color: #d1d5db;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
}

.fa-brand .facebook-btons {
    border-radius: .375rem;
    gap: .875rem;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    outline-style: solid;
    outline-width: 1px;
    outline-color: #d1d5db;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
}


.h-px-span {
    align-items: center;
    display: flex;
}

.ekran .text {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1.5rem;
}

.text label{
margin-top:2rem ;
}


.text .h {

    padding-left: 6px;
    background-color: #f3f4f6;
    border-color: #d1d5db;
    border-width: 1px;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border: 1px solid #ccc;

}


.ekrans

.ekran .text{


    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;


}
.ekran .main-btn {
    border-radius: .375rem;
    width: 100%;
    margin-top: .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    background-color: #3b82f6;
    color: #ffffff;
    padding: .75rem 1.25rem;
    cursor: pointer;
    background-image: none;
    text-transform: none;
    font-family: inherit;
    border: none;



}

.ekran .main-btn:hover {
    filter: brightness(85%)
}

.ayirici .h-px {
    background-color: #e5e7eb;
    height: 1px;
    width: 100%;

}

.ayirici {
    display: flex;
    align-items: center;
}

.ayirici span {
    color: #9ca3af;
    font-weight: 400;
    font-size: 13px;
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
}



.Donation-center {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: #6b7280;
    margin: 0;
    margin-top: 1rem;
}

.Donation-center span {
    color: #3b82f6
}


.Donation-center .my-4 {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}



.colum-duzenleme .description {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: #6b7280;
    margin: 0;
}
input:focus{
    /* border: 0px !important; */
    outline: 0;
}

.colum-duzenleme .description a {
    color: #3b82f6;
    text-decoration: none;
    
}

/* logen bitişi */